/* 清除内外边距 */
html,body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,/* structural elements 结构元素 */
dl,dt,dd,ul,ol,li,/* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
from,fieldset,legend,button,input,textarea,/* form elements 表单元素 */
th,td {padding:0;margin:0}/* table elements 表格元素 */
input,textarea {outline: none;}/* 去除点击时的外边框 */
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
i,s {font-style: normal;} /* 去除小标签 默认样式 */
code, kbd, pre, samp {font-family: courier new, courier, monospace;} /* 统一等宽字体 */
ul, ol, li {list-style: none;}/* 重置列表元素 */
/** 重置文本格式元素 **/
a {text-decoration: none;}
a,a:hover,a:visited {text-decoration: none!important;}
sup {vertical-align: text-top;}/* 重置, 减少对行高的影响 */
sub {vertical-align: text-bottom;}
/** 重置表单元素 **/
legend{color:#000;}/* for ie6 */
fieldset,img {border:none}/* img 搭车：让链接里的 img 无边框 */
button,input,select,textarea{font-size: 100%;}/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table{border-collapse: collapse; border-spacing: 0;}
/** 重置 HTML5 元素 **/
article, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section,
summary, time, mark, audio, video{display: block;margin: 0;padding: 0;}
/** 其他 **/
::-webkit-scrollbar{width:8px;height:8px}
::-webkit-scrollbar-track{background-color:#eee}
::-webkit-scrollbar-thumb{border-radius:6px;background-color:#ccc}
.clearfix::after,.clearfix::before{content:".";line-height:0;height:0;display:block;visibility:hidden;clear:both;}
html,body{font-size: 14px;}
body{
    background: #f8f8f8;
    min-width: 768px;
}
.l{float: left;}
.r{float: right;}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

*{box-sizing: border-box;}
.content-box{padding:0 20px;position: relative;margin-top: 20px;}
/* .el-table th{background: #eef1f6!important;} */
.el-table th{background: #f4f4f4!important;}
.el-pagination{text-align:right!important;;padding:18px 18px 10px 10px!important;}
a,a:hover,a:visited{color:#1276e5;}
/* analysis-header */
#filters {
    padding-bottom: 10px;
}
#filters .control-bar-wrapper {
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
    z-index: 2;
    color: #323437;
}
#filters .control-bar-wrapper .control-bar {
    color: #323437;
}
#filters .control-bar-wrapper .control-bar .time {
    margin-left: 20px;
    display: inline-block;
    height: 26px;
    padding-right: 5px;
    line-height: 26px;
    color: #787a7d;
}
#filters .date-select-bar {
    border-style: solid;
    border-width: 1px;
    border-color: #e1e3e4;
    border-radius: 2px;
}
#filters  .control-bar-wrapper .control-bar .date-select-bar .trackable {
    float: left;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: #323437;
    background-color: #fff;
    cursor: pointer;
}
#filters  .control-bar-wrapper .control-bar .date-select-bar .trackable:not(.cur):hover {
    background: #f2f3f4;
}
#filters  .control-bar-wrapper .control-bar .date-select-bar .trackable:first-child {
    border-radius: 2px 0 0 2px;
    left: -1px;
}
#filters  .control-bar-wrapper .control-bar .date-select-bar .cur {
    position: relative;
    bottom: -1px;
    margin-top: -2px;
    padding-top: 1px;
    height: 25px;
    background-color: #4da7fd;
    color: #fff;
}


